
<div class="">


        <div class="wrap">
            <h3>Major Projects</h3>
            <div class="box" ng-repeat="item in majorPosts" ng-animate="{custom}" ng-controller="ProjectBoxCtrl" >
                <div class="boxInner" ng-click="boxClick()">
                    <img ng-src="{{item.thumbnail}}"/>
                    <div class="viewHolder">
                        <div ng-class="{true:'view opacity1', false:'view'}[selected]">
                            View Project
                        </div>
                    </div>
                    <div ng-class="{true:'titleBox marginBottom0', false:'titleBox'}[selected]">{{item.title}}</div>
                </div>
            </div>

            <h3>Minor Projects</h3>
            <div class="boxMinor" ng-repeat="item in minorPosts" ng-controller="ProjectBoxCtrl" >
                <div class="boxInner" ng-click="boxClick()">
                    <img ng-src="{{item.thumbnail}}"/>
                    <div class="viewHolder">
                        <div ng-class="{true:'view opacity1', false:'view'}[selected]">
                            View Project
                        </div>
                    </div>
                    <div ng-class="{true:'titleBox marginBottom0', false:'titleBox'}[selected]">{{item.title}}</div>
                </div>
            </div>
        </div>

        <!--<div ng-repeat="item in data.posts">-->
            <!--<p >{{item.title}}</p>-->
            <!--<img ng-src="{{item.attachments[0].url}}">-->
        <!--</div>-->
    </div>
</div>
