
<div class="">

    <div class="alert alert-info text-center" ng-show="loading"><h2>Loading</h2></div>
    <div ng-hide="loading">

        <div id="header">
            <img clas="logo" src="../images/banner.jpg" fade ng-click="fader()" >
        </div>


        <div class="wrap">
            <h3>Major Projects</h3>

            <div class="box" ng-repeat="item in majorPosts" ng-controller="ProjectBoxCtrl" >
                <div class="boxInner" ng-click="boxClick()">
                    <img ng-src="{{item.thumbnail}}"/>
                    <div class="viewHolder">
                        <div ng-class="{true:'view opacity1', false:'view'}[selected]">
                            View Project
                        </div>
                    </div>
                    <div ng-class="{true:'titleBox marginBottom0', false:'titleBox'}[selected]">{{item.title}}</div>
                </div>
            </div>

            <h3>Minor Projects</h3>

            <div class="box" ng-repeat="item in minorPosts" ng-controller="ProjectBoxCtrl" >
                <div class="boxInner" ng-click="boxClick()">
                    <img ng-src="{{item.thumbnail}}"/>
                    <div class="viewHolder">
                        <div ng-class="{true:'view opacity1', false:'view'}[selected]">
                            View Project
                        </div>
                    </div>
                    <div ng-class="{true:'titleBox marginBottom0', false:'titleBox'}[selected]">{{item.title}}</div>
                </div>
            </div>


        </div>


        <!--<div ng-repeat="item in data.posts">-->
            <!--<p >{{item.title}}</p>-->
            <!--<img ng-src="{{item.attachments[0].url}}">-->
        <!--</div>-->

    </div>

</div>
