
<div class="">

    <div class="alert alert-info text-center" ng-show="loading"><h2>Loading</h2></div>
    <div ng-hide="loading">

        <div id="header">
            <img clas="logo" src="../images/banner.jpg" fade ng-click="fader()" >
        </div>

        <h3>Major Projects</h3>
        <div ng-repeat="item in majorPosts">
            <p >{{item.title}}</p>
        </div>

        <major></major>

        <!--<div ng-repeat="item in data.posts">-->
            <!--<p >{{item.title}}</p>-->
            <!--<img ng-src="{{item.attachments[0].url}}">-->
        <!--</div>-->

    </div>

</div>
